@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root{
    --branco: #ffffff;
    --roxo: #AB5CDB;
    --roxo-bg: #1B1937;
    --fundo-page: #0A0C1C;
}

body{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    background: var(--fundo-page);
    color: var(--branco);
}

.container{
    background: var(--roxo-bg);
    margin: 5.5em 1.5em;
}

.banner{
    width: 100%;
}